<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded image</title>
</head>
<body>
    <a href="/upload-image">Upload image</a>
    <% if(images.length > 0 ) { %>

        <% images.forEach( image => { %>
            <div class="card">
                <img src="/<%= image.imageUrl %>" alt="">
            </div>
        <%})%>
        
    <% } else { %>
        <h1>No image Uploaded</h1>
    <% } %>    
    
</body>
</html>